.item svg {
  transition: var(--common-transition);
}

.item:hover svg {
  fill: #F2F2F3;
}

.item:hover .text {
    color: var(--text-primary-color);
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.link.active {
  color: var(--text-primary-color);
}

.text {
  transition: var(--common-transition);
}