.wrapper {
  padding: 0;
  list-style: none;
}

.wrapper_dropHover {
  opacity: 0.5;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.bun {
  display: flex;
  justify-content: flex-end;
}
