.form {
  display: grid;
  row-gap: calc(var(--offset-base-size) * 6);
  justify-items: center;
}

.form [class='input__container'] p {
  margin-top: 0;
  margin-bottom: calc(var(--offset-base-size) * -6);
}

.form [class~='input__error'] {
  margin-bottom: -24px;
}

.form [type='reset'] {
  padding-left: 8px;
  padding-right: 8px;
}
