.form {
  display: grid;
  row-gap: calc(var(--offset-base-size) * 6);
  justify-items: center;
}

.form [class='input__container'],
[class~='input'] {
  width: 100%;
}

.form [class~='input__error'] {
  margin-bottom: 0;
}

.form [type='reset'] {
  padding-left: 8px;
  padding-right: 8px;
}
