.menu {
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 244px);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.menu::-webkit-scrollbar-track {
  margin-top: 40px;
	margin-bottom: 52px;
}

.section {
  list-style: none;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 0;
  padding-left: 0;
}

.item {
  display: block;
  list-style: none;
}