:global(.authentication) {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

:global(.authentication__content) {
  display: flex;
  flex-direction: column;
  width: 480px;
}

:global(.authentication__title) {
  text-align: center;
}

:global(.authentication__additional-actions) {
  display: grid;
  row-gap: calc(var(--offset-base-size) * 4);
}
