.header {
  background-color: var(--background);
}

.content {
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
}

.content > svg {
  margin-left: 115px;
}

nav:last-of-type {
  margin-left: auto;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__list li {
  list-style: none;
  margin-left: 8px;
}

.nav__list li:first-of-type {
  margin-left: 0px;
}

.nav__link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.nav__link_active {
  color: var(--text-primary-color);
}

.nav__link:hover {
  color: var(--text-primary-color);
}

.nav__link > * {
  transition: var(--common-transition);
}

.nav__link:hover > svg {
  fill: #f2f2f3;
}
